<%= render "shared/header" %>

 <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <%# 商品のインスタンス変数%>
        <% @items.each do |item| %>
      <li class='list'>
        <div class='item-img-content'>
          <%= link_to (image_tag item.image, class: "item-img" if item.image.attached?), item_path(item.id) %>
          <div class='sold-out'>
          <% if item.buyer.present? %>
            <span>Sold Out!!</span>
          <% end %> 
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
        <% end %>


<%= render "shared/footer" %>